{% extends "base.html" %}
{% block page_title %}QATrack+{% endblock %}
{% block hero_content%}
    <div class="row">
        <div class="span12">
            <h1>Multi Leaf Consulting</h1>
            <h6 class="grey">MLC provides cloud hosting of QATrack+ and support contracts for clinics using on premise QATrack+ installations.</h6>
        </div>
    </div>
{% endblock %}
{% block content %}
<div class="row">
    <div class="span12">

        <p>

        More information is available at <a href="https://www.multileaf.ca/" title="Link to Multi Leaf Conulting homepage">www.multileaf.ca</a> or
        you can also <a href="mailto:randy@multileaf.ca">email me</a> if you have any questions!

        </p>

    </div>
</div>

{% endblock %}
