<p>

    Hey I'm Randy and I live in Guelph, Canada with my wife and daughter. I love
    writing software to create practical solutions to technical problems.  You can
    see some of my work on my <a href="{{url_for('projects')}}">Projects</a> page.
</p>
<p>

    I'm currently available for full-time or part-time work.
    <a href="{{url_for('hire_me')}}">Get in touch</a>
    if you want to discuss how I can help your organization.

</p>
