
<!--[if !(lt IE 8)]><!-->
<script type="text/javascript">
  // The defaults are set below
  var tdwfb_config = {
    greeting: 'Dear Internet', // Sets the salutation shown in the banner.
    disableDate: true, // If true, the banner shows even if the date is not yet 02/11/2014. Use for testing.
    callOnly: true // If true, the banner emphasizes calling congress over emailing.
  };
  (function(){
    var e = document.createElement('script'); e.type='text/javascript'; e.async = true;
    e.src = document.location.protocol + '//d1agz031tafz8n.cloudfront.net/thedaywefightback.js/widget.min.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(e, s);
  })();
</script>
<!--<![endif]-->
