<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Randle Taylor | {% block page_title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{%block description%}Personal homepage and blog of Randle Taylor with posts on Programming and Science{%endblock%}">
    <meta name="keywords" content="{%block keywords%}Programming, Python, Django, Science, Web Development, Physics, Medical Physics, QATrack+, Orbis, Simple Huckel{% endblock%}">
    <meta name="author" content="Randle Taylor">


    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/bootstrap-responsive.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/font-awesome.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/style.css') }}">

    <!-- Colors - Orange, Purple, Green and Blue -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/green.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('pygments_css') }}">

    <!-- HTML5 Support for IE -->
    <!--[if lt IE 9]>
    <script src="{{ url_for('static', filename='js/html5shim.js') }}"></script>
    <![endif]-->

    <!-- Favicon -->
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='img/favicon/favicon.png') }}">
    <meta name="google-site-verification" content="2jQ6oAL2_zcdlvKcpjoMP2YyQ9x-GRJ9yIJ1cOBFPpI" />

    {% block extra_script %}{% endblock %}

</head>

<body>

    <!-- Header Starts -->
    <header>
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="logo">
                        <h1><a href="{{ url_for("index") }}">Randle <span class="color">Taylor</span></a></h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Navigation bar starts -->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span>Menu</span>
                </a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li><a href="{{url_for('index')}}">Home</a></li>
                        <li><a href="{{url_for('blog')}}">Blog</a></li>
                        <li><a href="{{url_for('projects')}}">Projects</a></li>
                        <li><a href="{{url_for('papers_talks')}}">Papers &amp; Talks</a></li>
                        <li><a href="{{url_for('hire_me')}}">Hire Me</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Navigation bar ends -->

    <div class="content">
        <div class="container">
            {% block hero_content %}
            {% endblock %}

            {% block discover %}
            <div class="discover">
                {% block discover_content %}
                {% endblock %}
            </div>
            <hr />
            {% endblock %}

            <div class="services">
                {% block content %}
                {% endblock %}
            </div>
            <hr />
        </div>
    </div>

    <!-- Social -->
    <div class="social-links">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <p class="big"> <a href="https://bitbucket.org/randlet/"><i class="icon-edit"></i>BitBucket</a> <a href="https://github.com/randlet/"><i class="icon-github"></i>GitHub</a> <a href="https://plus.google.com/114539569374708690174/"><i class="icon-google-plus"></i>Google Plus</a> <a href="http://www.linkedin.com/profile/view?id=41067743"><i class="icon-linkedin"></i>LinkedIn</a> <a href="http://stackoverflow.com/users/79802/randlet"><i class="icon-question-sign"></i>StackOverflow</a> <a href="mailto:randle.taylor@gmail.com"><i class="icon-envelope"></i>Email</a></p>
                </div>
            </div>
        </div>
    </div>


    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="span12">
                <div class="copy">
                    <p>Copyright &copy; 2012 <a href="#">randlet.com</a> | <a href="mailto:randle.taylor@gmail.com">email</a> | <a href="/sitemap.xml" title="sitemap">sitemap</a> | Powered by <a href="http://python.org" title="Home of the python programming language">Python</a> &amp; <a href="http://flask.pocoo.org/" title="Home of Flask: a Python Microframework">Flask</a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </footer>

    <!-- JS -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>

    {#
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.isotope.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.prettyPhoto.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.cslider.js') }}"></script>
    <script src="{{ url_for('static', filename='js/modernizr.custom.28468.js') }}"></script>
    <script src="{{ url_for('static', filename='js/filter.js') }}"></script>
    <script src="{{ url_for('static', filename='js/cycle.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
`   #}
    {% include "_analytics.html" %}
    {% include "_disqus_comment_count.html" %}
</body>
</html>
