{% extends "base.html" %}
{% block page_title %}Blog{% endblock %}
{% block description %}Personal block of Randle Tayor{% endblock %}
{% block keywords %}projects programming physics blog{%endblock%}

{% block hero_content %}
{% endblock %}

{% block discover %}            
<div class="blog">
    <div class="row">
        <div class="span12">
         
        <div class="row">

            <div class="span8">

               <div class="posts">
                    {% for page in pages %}

                        <div class="entry">
                           <h2><a href="{{url_for('posts',path=page.path)}}">{{page.title}}</a></h2>
                           
                           <!-- Meta details -->
                           <div class="meta">
                              <i class="icon-calendar"></i> {{page.date}} {% for page_tag in page.tags %}<i class="icon-tag"></i> <a href="{{url_for('tag',tag=page_tag)}}">{{page_tag}}</a>{% endfor %} <span class="pull-right"><i class="icon-comment"></i> <a href="{{url_for('posts',path=page.path)}}#disqus_thread"> Comments</a></span>
                           </div>
                           
                           <!-- Thumbnail -->
                           <div class="bthumb2">
                                {% if page.thumbnail %}
                                      <a href="{{url_for('posts',path=page.path)}}"><img width="250px;" src="{{url_for('static',filename='img/blog/%s'%page.thumbnail)}}" alt="" /></a>
                                {% endif %}
                           </div>
                           
                           <p>{{page.blurb|safe}}</p>
                           <div class="button"><a href="{{url_for('posts',path=page.path)}}">Read More...</a></div>
                           <div class="clearfix"></div>
                            {% if page.attribution %}<em><a href="{{page.attribution}}">Original Img</a></em>{% endif %}
                            

                        </div>
                    {% endfor %}
                  
                    {#
                    <div class="paging">
                       <span class='current'>1</span>
                       <a href='#'>2</a>
                       <span class="dots">&hellip;</span>
                       <a href='#'>6</a>
                       <a href="#">Next</a>
                    </div> 
                    #}
                  
                  <div class="clearfix"></div>
                  
               </div>
            </div>                        
            <div id="main-sidebar" class="span4">
            
                <div class="row-fluid">
                    <div class="span12">
                        <h5>About</h5>
                        <hr/>
                        <img src="{{url_for('static',filename='img/profile3.jpg')}}" alt="Atomium in Brussels"/>
                        {% include "_about_blurb.html" %}
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <h5>Recent Posts</h5>
                        <hr/>
                        {% for post in pages[:5] %}
                            <a href="{{url_for("posts",path=post.path)}}" title="{{post.title}}">{{post.title}}</a><br/>
                        {% endfor %}
                    </div>
                </div>            
    
            </div>
         
         
         
      </div>
   </div>
</div>
 

 <div class="border"></div>
{% endblock %}
