{% extends "base.html" %}
{% block page_title %}Hire Me{% endblock %}
{% block description %}I'm currently available for full or part time contract or permanent positions.{% endblock %}
{% block keywords %}hire contract work job{%endblock%}

{% block hero_content %}
    <h2>Hire Me</h2>
{% endblock %}

{% block content %}


<div class="row tasks">
    <div class="span12">
        <p>

            I'm Randle Taylor and I'm currently available for both short or long
            term opportunities either remotely or in the Kitchener Waterloo / Guelph area.
        </p>

        <p>

            I have a successful track record of using software to
            solve technical problems. Things I may be able to help you out with:

            <ul class="disc-list">
                <li>Designing, developing and deploying web applications in a Linux or Windows enviroment</li>
                <li>Writing custom data analysis and presentation software</li>
                <li>Make your organization more efficient by creating tools to automate tedious or error prone tasks</li>
                <li>Updating and maintaining legacy Python &amp; Django applications</li>
                <li>Help you implement a popular CMS like WordPress, Concrete5 or Plone.</li>
            </ul>
        </p>

        <p>
            You can download my <a href="{{ url_for('static', filename='downloads/cv/randle_taylor_cv.pdf') }}" title="Randle Taylor's CV">most recent <em>C.V.</em></a>
            as a PDF file.  You can also check out my <a href="{{url_for('projects')}}">projects page</a> or my
            <a href="https://github.com/randlet/">GitHub account</a> to see some examples of my work.
        </p>

        <p>
            Some of the software tools I use include:
            <ul class="disc-list">
                <li>Python, C</li>
                <li>Django, Flask, SQLAlchemy</li>
                <li>numpy, scipy, pandas, matplotlib &amp; wxPython</li>
                <li>JavaScript, jQuery, Knockout.js</li>
                <li>git version control</li>
                <li>HTML5 &amp; CSS</li>
                <li>PostgreSQL, SQLServer</li>
                <li>Linux, Windows Server, OS X</li>
                <li>WordPress, Concrete5</li>
            </ul>
        </p>


        <p>
            You can get in touch with me via email or LinkedIn:
            <dl class="dl-horizontal">
                <dt>Email</dt>
                <dd><a href="mailto:randle.taylor@gmail.com" title="Contact me via email">randle.taylor@gmail.com</a></dd>

                <dt>LinkedIn</dt>
                <dd><a href="https://www.linkedin.com/in/randlet" title="Randle Taylor's LinkedIn profile">https://www.linkedin.com/in/randlet</a></dd>
            </dl>
        </p>

    </div>
</div>


{% endblock %}
