{% extends "base.html" %}
{% block page_title %}Papers &amp; Talks{% endblock %}
{% block description %}Published papers and talks I've given{% endblock %}
{% block keywords %}papers conferences physics {%endblock%}

{% block hero_content %}
    <h2>Papers &amp; Talks</h2>
    <h6 class="grey">Published papers, conference presentations and informal talks</h6>
{% endblock %}

{% block content %}

{% for category,items in papers.iteritems() %}

    <div class="row tasks">
        <div class="span12">
    
            <h3>{{category}}</h3>
            {% for item in items %}
    
                <div class="task cool">
                    <h6>{{item.title|safe}}</h6>
                    <div class="tmeta">
                        <i class="icon-group"></i> {{item.authors|safe }} <i class="icon-calendar"></i> {{item.date}} <i class="icon-globe"></i> {{ item.location|safe }}                        
                    </div>
                    {% if item.note %}
                        <div class="tmeta">
                            <p>Note: {{item.note}}</p>
                        </div>
                    {% endif %}
                    <p>
                        {% if item.file %}
                            <a href="{{url_for('static',filename="downloads/papers/"+item.file)}}"><i class="icon-download-alt"></i> Download</a>
                        {% endif %}
                        {% if item.url %}
                            <a href="{{item.url}}"><i class="icon-link"></i> Link</a>
                        {% endif %}                        
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endfor %}
    

{% endblock %}
